---
layout: default
description: >
  DotApprove is a powerful, easy to use, online tool that streamlines the
  management, approval, compliance and storage of your promotions.
---
<section class="index">
  <article class="index__mural">
    <aside class="index__mural__image">
      <img src="{{ site.static}}/da-index-folder.png" alt="DotApprove"/>
    </aside>
    <section class="index__mural__text">
      <h1>DotApprove</h1>
      <p>
        DotApprove brings marketing, compliance, sales and communication
        teams together to project manage, collaborate and approve all
        documentation, social media and marketing meterial quickly and
        efficiently.
      </p>
      <h3>Register here for a FREE 30 day trial</h3>
      <a href="FIXME" class="btn">
        Book a demo
      </a>
    </section>
  </article>
  {% include center-tag-list.html %}
  <article class="index__columns">
    <h1>DotApprove</h1>
    <p>
      DotApprove is a powerful, easy to use, online tool that streamlines the
      management, approval, compliance and storage of your promotions.
    </p>
    <p>
      By connecting your marketing, PR, sales and compliance teams, DotApprove
      improves collaboration, consistency and significantly reduces the risk of
      oversights and errors. With an audit trail and archive of all comments,
      changes and approval signatures to help you comply with internal rules
      and external regulations.
    </p>
  </article>
  <article class="index__columns">
    <h1>Publishing Tools</h1>
    <p>
      DotApprove Publishing Tools provide the solution for quickly producing on
      brand and compliant content from Twitter messages to Factsheets and
      Presentations.
    </p>
    <p>
      We automate processes so that you can get information to market faster.
      These tools work with the DotApprove portal enabling you to streamline
      the management and approval of content, with the additional benefit of an
      archive and audit trail to stay compliant.
    </p>
  </article>
  <article class="index__columns">
    <h1>News &amp; Views</h1>
    <section class="index__latest-post">
{% for post in site.posts limit: 1 %}
        <h4>
          <a href="{{ site.url }}{{ post.url}}">{{ post.title }}</a>
        </h4>
        <p>
          {{ post.content | strip_html | truncatewords: 10 }}
          <a href="{{ site.url }}{{ post.url}}">Read more</a>
        </p>
{% endfor 1 %}
    </section>
    <h3>Twitter</h3>
    {% include twitter-feed.html %}
  </article>
</section>
