.button {
  background-color: $col-nav-dropdown;
  border-radius: $corner-radius;
  box-shadow: 1px 1px 2px darken($col-nav-dropdown, 35);
  color: #fff;
  display: inline-block;
  margin: 3px 0;
  padding: 5px 6px 3px;
  text-transform: uppercase;
  transition: background-color .1s;

  &:hover {
    background-color: darken($col-nav-dropdown, 5);
    box-shadow: none;
    text-decoration: none;
  }
}
