.offer {
  @include clearfix();

  background-color: $col-nav-dropdown;
  border-radius: $corner-radius;
  margin-top: 1em;
  max-width: 680px;
  padding: 1em 2em;

  h2 {
    color: $col-primary;
  }

  p {
    font-size: 1.1em;
  }

  * {
    color: #fff;
  }

  img {
    float: left;
    margin: 10px 10px 10px 0;
    max-width: 150px;
  }

  .offer__button {
    background-color: $col-primary;
    border-radius: $corner-radius;
    float: right;
    font-size: 1.2em;
    padding: .3em .8em;

    &:hover {
      color: #fff;
    }
  }
}
