<form action="TODO" method="post">
  <input type="textarea" name="txtComments" id="txtComments" value="" />
  <input type="text" name="txtCompany" id="txtCompany" value="" />
  <input type="text" name="txtcountry/state" id="txtcountry/state" value="" />
  <input type="email" name="txtFormEmail" id="txtFormEmail" value="" />
  <input type="text" name="txtFirstName" id="txtFirstName" value="" />
  <input type="text" name="txtStreet" id="txtStreet" value="" />
  <input type="text" name="txtLastName" id="txtLastName" value="" />
  <input type="text" name="txtPhone" id="txtPhone" value="" />
  <input type="datetime" name="DateTime" id="DateTime" value="" />
</form>
