// Keeping the footer at the bottom of the page
$footer-height: 270px;
$footer-height--break-mid: 200px;

//
// Colours
//

// Brand colours
$col-brand-blue:  #00505c;
$col-brand-cream: #c7b996;

//
// Top level colours
// These need to be edited with each new colour scheme
//
$col-primary:      $col-brand-blue;
$col-primary-dk:   darken($col-brand-blue, 3);
$col-primary-lt:   lighten($col-brand-blue, 15);
$col-nav-dropdown: darken($col-brand-cream, 18);
$col-black: #111;
$col-white: #fff;

//
// Second level colours
// These will inherit from top level
//
// Typography colours
$col-text:       $col-black;
$col-link:       $col-primary;
$col-link-hover: $col-primary-lt;
$col-h2h3h4:     $col-primary-dk;

// Major layout colours
$col-colored-block:      $col-primary;
$col-colored-block-text: $col-white;
$col-footer-bg:          $col-primary-dk;
$col-footer-fg:          $col-white;
$footer-dot-col:         wht;

// Misc bits colours
$col-quote:                $col-primary;
$col-page-first-paragraph: $col-primary;
$col-center-tag-separator: $col-primary;
